.FrameSelection {
    position: relative;
    display: flex;
    border-top: 1px solid #a1a1a1;

    > .FrameSelection-frame {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;

        > .FrameSelection-frame-name {
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #1a1a1a;
            border-radius: 4px;
            padding: 5px;
        }

        > .FrameSelection-frame-add {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 48px;
            height: 48px;
            padding: 2px;
        }

        > img {
            width: 100%;
        }
    }
}